.blog{
	margin-top: 50px;
}
.pdg{
background: url("../img/blog1.jpg") no-repeat;
height: 204px;
background-size: cover;
margin-bottom: 25px;

}

.sky{
	padding: 26px 20px;
	background-color: #DDDFE0;
	margin-bottom: 25px;
	
}
.boton{
	margin-top: 15px;
  	width: 120px;
  	height: 40px;
  	background-color: #020F1D;
  	font-size: 20px;
  	padding: 5px 20px;
  	color: white;
}
h1{
	text-align: center;
	margin-bottom: 20px;
}